html {
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

body {
  display: table;
  margin: 0;
  width: 100%;
  height: 100%;
}

#app {
  height: 100%;
  width: 100%;
}

@import "../style/colonel";
@import "../style/addons/common";
@import "../style/addons/medium";
@import "../style/addons/section";
