@import 'values/colors';
@import 'values/sizes';

@import 'generators/functions';
@import 'generators/extensions';

@import 'animations/fade';
@import 'animations/toolbar';

.colonel {
  @import 'reset';
  @import 'components/button';
  @import 'components/toolbar';
  @import 'components/menu';
  @import 'components/section';
  @import 'components/block';
}

.colonel {
  background: #fafafa;
  font-family: $colonel-font-family;
  font-size: 16px;
  height: 100%;
  padding: 1px 0;
  position: relative;
  text-align: center;

  .col-btn-fab {
    background: $colonel-primary;
    border-radius: 50%;
    border: 1px solid rgba(#000, 0.05);
    box-shadow: 0 1px 4px 0 rgba(#000, 0.37), inset 0 1px 0 rgba(#fff, 0.2), inset 0 -1px 0 rgba(#fff, 0.1);
    color: white;
    display: block;
    font-size: 18px;
    font-weight: 500;
    height: 48px;
    line-height: 0;
    margin: 8px auto;
    position: relative;
    text-shadow: 0 1px 1px rgba(#000, 0.2);
    transition: 0.4s all;
    width: 48px;
    z-index: 1;

    &:focus {
      outline: none;
    }
  }
}
