@import 'values/type';
@import 'values/colors';
@import 'values/radii';
@import 'values/sizes';

@import 'generators/functions';
@import 'generators/extensions';

@import 'animations/fade';
@import 'animations/menu';
@import 'animations/switch';

.colonel {
  font-family: $col-font-family;
  font-size: $col-type-size-body;
  height: 100%;
  margin: unit(4) auto;
  position: relative;
  text-align: center;

  @import 'reset';
  @import 'components/toolbar';
  @import 'components/switch';
  @import 'components/menu';
  @import 'components/section';
  @import 'components/block';
  @import 'components/fab';
}

.col-hidden {
  display: block;
  position: absolute;
  clip: rect(0, 0, 0, 0);
  width: 0;
  height: 0;
  margin: -1;
}
