.col-blocks,
.col-block {
  margin:0 auto;
  max-width: 768px;
  position: relative;
}

.col-blocks {
  padding: 1px;
}

.col-block {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, 0.4);
  padding-bottom: 1px;
  margin: 0 16px;
}

.col-block-content {
  color: $colonel-muted-dark;
  padding: 16px 48px 16px 16px;
}

// Transitions
// -------------------------------------------------- //

.col-block-enter {
  opacity: 0.01;
  transform: scale(0.98) translateY(-5px);
  transition: 0.28s all;
}

.col-block-enter.col-block-enter-active {
  opacity: 1;
  transform: none;
}

.col-block-leave {
  opacity: 1;
  transition: 0.48s all;
}

.col-block-leave.col-block-leave-active {
  opacity: 0.01;
  transform: scale(0.95);
}
