.col-toolbar {
  align-items: center;
  bottom: 0;
  box-shadow: inset 0 1px 0 rgba(#fff, 0.1);
  display: flex;
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.col-btn-remove {
  border-radius: 50%;
  box-shadow: none;
  cursor: pointer;
  color: $colonel-muted-dark;
  height: unit(5);
  line-height: 0;
  opacity: 1;
  padding: 0;
  position: relative;
  width: unit(5);

  &:hover,
  &:focus {
    color: $colonel-danger;
    font-weight: 700;
    outline: none;
  }

  svg {
    fill: currentColor;
    transition: 0.4s all;
  }
}
