.colonel-blocks,
.colonel-block {
  position: relative;
}

.colonel-blocks {
  padding-top: 1px;
}

.colonel-block {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, 0.4);
  padding-bottom: 1px;
  margin: 0 16px;
}

.colonel-block-content {
  color: $colonel-muted-dark;
  padding: 16px 48px 16px 16px;
}

.colonel-block-editor {
  min-height: 16px;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  p {
    margin: 0;
  }

  p + p {
    margin-top: 16px;
  }

  &:focus {
    color: $colonel-text-dark;
    outline: 0;
  }

}
