.colonel-btn {
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: $colonel-primary;
  cursor: pointer;
  font: 500 14px/16px $colonel-font-family;
  margin: 0 4px;
  min-width: 64px;
  padding: 10px 8px;
  position: relative;
  text-transform: uppercase;
  transition: 0.2s all;
  letter-spacing: tracking(10);

  &:focus {
    box-shadow: 0 0 1px rgba(#000, 0.15), 0 1px 3px rgba(#000, 0.2);
    outline: none;
  }
}

.colonel-btn-icon {
  background: transparent;
  border: 0;
  border-radius: 4px;
  color: $colonel-muted-dark;
  cursor: pointer;
  font: 500 12px/16px $colonel-font-family;
  height: 40px;
  margin: 4px;
  opacity: 0.54;
  padding: 8px;
  position: relative;
  text-align: center;
  transition: 0.3s all;
  width: 40px;

  img {
    display: block;
    max-width: 100%;
  }

  &:focus,
  &:hover {
    background: #fff;
    box-shadow: 0 0 1px $colonel-muted-dark, 0 1px 2px rgba(#000, 0.15);
    opacity: 1;
    outline: none;
  }

  &:active {
    box-shadow: 0 0 1px $colonel-muted-dark;
  }
}

.colonel-btn-remove {
  background: transparent;
  border: 0;
  box-shadow: none;
  cursor: pointer;
  font: 500 16px/16px $colonel-font-family;
  color: $colonel-muted-dark;
  border-radius: 50%;
  padding: 0;
  height: 40px;
  width: 40px;
  transition: 0.4s all;

  &:hover,
  &:focus {
    color: $colonel-danger;
    font-weight: 700;
    outline: none;
  }
}
