/**
 * Draggable
 * Uses the react-dragon component
 * https://github.com/vigetlabs/react-dragon
 */

$dragon-stretch: -12px;

.dragon {
  border: 2px dashed transparent;
  position: relative;
  transition: 1s all cubic-bezier(.06,.86,.36,1.14);
  transform: translateZ(0);

  &:before {
    color: rgba(#000, 0.4);
    content: "☰";
    left: 16px;
    line-height: 16px;
    margin-top: -12px;
    position: absolute;
    pointer-events: none;
    transition: 0.3s all;
    top: 50%;
  }

  &:after {
    border-radius: 3px;
    border: 2px dashed transparent;
    bottom: $dragon-stretch;
    content: "";
    left: $dragon-stretch;
    position: absolute;
    right: $dragon-stretch;
    top: $dragon-stretch;
    transition: 0.75s all;
    z-index: 0;
  }
}

.dragon-children {
  padding-left: 48px;
  position: relative;
  transition: 0.75s all;
  z-index: 1;
}

.dragon-dragging {
  background: transparent;
  box-shadow: none;
  transition: 0.3s all;
  transform: translateZ(0) scale(0.98);

  &:before {
    opacity: 0;
  }

  &:after {
    border-color: #ddd;
  }

  .dragon-children {
    opacity: 0;
    transition: 0.25s all;
  }
}

.dragon-droppable {
  transform: translateZ(0) scale(1.01);

  &:after {
    border-color: #aaa;
  }
}
