$colonel-tabs-padding: 0 24px !default;
$colonel-tabs-background: $colonel-primary !default;
$colonel-tabs-border-width: 3px !default;
$colonel-tabs-color: $colonel-muted-light !default;
$colonel-tabs-color-focus: $colonel-text-light !default;
$colonel-tabs-font: 600 14px/16px sans-serif !default;

.colonel-tabs {
  color: $colonel-tabs-color;
  background: $colonel-tabs-background;
  box-shadow: inset 0 -1px 1px rgba(#000, 0.15);
  padding: $colonel-tabs-padding;
}

.colonel-tabs-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.colonel-tabs-list-item {
  display: inline-block;
}

// The extra selection is necessary to get around ActiveAdmin (curse it!)
.colonel-tabs-list .colonel-tabs-btn {
  background: transparent;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  color: inherit;
  cursor: pointer;
  font: $colonel-tabs-font;
  letter-spacing: 0.05em;
  line-height: 16px;
  overflow: hidden;
  padding: 16px;
  position: relative;
  text-shadow: none;
  text-transform: uppercase;
  transition: 0.2s color;
  -webkit-appearance: button;

  &:after {
    background: $colonel-muted-light;
    bottom: -$colonel-tabs-border-width;
    content: "";
    height: $colonel-tabs-border-width;
    left: 0;
    position: absolute;
    transition: 0.2s background, 0.4s bottom;
    width: 100%;
  }

  &:focus,
  &:hover {
    background: transparent;
    outline: none;

    &:after {
      bottom: 0;
    }
  }

  &:disabled:after {
    background: $colonel-accent;
    bottom: 0;
  }

  &:focus,
  &:disabled {
    color: $colonel-tabs-color-focus;
  }

  &:active {
    border: 0;
    box-shadow: none;
  }

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
