/**
 * Colonel Kurtz Medium Editor
 */

$col-medium-focus-color: rgba(#000, 0.875);

@import './vendor/style';

.col-block-medium {
  position: relative;
}

.col-medium {
  background: #fff;
  border-top: 1px solid rgba(#000, 0.07);
  line-height: 1.75;
  font-size: 16px;
  padding: 16px 48px 16px 16px;
  transition: 0.2s all;
  min-height: 28px;

  .col-block-medium:first-child & {
    border-top: 0;
  }

  &:focus {
    border: 0;
    color: $col-medium-focus-color;
    outline: 0;
    margin: 8px 0;
    //transform: perspective(500) translate3d(0, 0, 5px);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  p {
    margin: 0;

    + p {
      margin-top: 16px;
    }
  }

  blockquote {
    border-left: 3px solid #777;
    padding: 8px 0 8px 24px;
    margin: 16px;
    font: italic 18px/1 Georgia, serif;
  }
}
