$col-appear-scale     : 0.97 !default;
$col-appear-time      : 0.28s !default;
$col-appear-translate : -5px !default;

.col-appear-enter {
  opacity: 0;
  transform: scale($col-appear-scale) translateY($col-appear-translate);
  transition: $col-appear-time all;
}

.col-appear-enter.col-appear-enter-active {
  opacity: 1;
  transform: none;
}

.col-appear-leave {
  opacity: 1;
  transition: $col-appear-time all;
}

.col-appear-leave.col-appear-leave-active {
  opacity: 0;
  transform: translateY($col-appear-translate);
}
