$col-block-border-radius : 3px !default;
$col-block-border-color  : #d0d0d0 !default;

.col-blocks {
  max-width: 768px;
  position: relative;
}

.col-block {
  background: #eee;
  border-radius: $col-block-border-radius;
  border: 1px solid $col-block-border-color;
  box-shadow: 0 1px 4px rgba(#000, 0.1);
  margin: 0 unit(2);
  padding: 0 unit(5) 0 0;
}

.col-block-child {
  background: #fff;
  border-right: 1px solid $col-block-border-color;
  border-top-left-radius: $col-block-border-radius;
  border-bottom-left-radius: $col-block-border-radius;
  cursor: initial;
  transition: 0.75s all;
}
