.col-btn {
  color: $colonel-primary;
  font: 500 14px/16px $colonel-font-family;
  margin: 0 4px;
  min-width: grid(8);
  padding: 10px grid(1);
  position: relative;
  text-transform: uppercase;
  transition: 0.2s all;
  letter-spacing: tracking(10);

  &:focus {
    box-shadow: 0 0 1px rgba(#000, 0.15), 0 1px 3px rgba(#000, 0.2);
    outline: none;
  }
}

.col-btn-icon {
  height: 48px;
  opacity: 0.7;
  position: relative;
  transition: 0.3s all;
  width: 48px;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}
