.col-btn {
  border-radius: 0;
  padding: 16px;
  position: relative;
  text-align: inherit;
  transition: 0.3s all;
  width: 100%;

  &:hover,
  &:focus {
    background: rgba(#000, 0.2);
  }
}

.col-btn-icon {
  height: 48px;
  opacity: 0.7;
  position: relative;
  transition: 0.3s all;
  width: 48px;

  &:hover,
  &:focus {
    opacity: 1;
    outline: none;
  }
}
