/**
 * Dialog
 * http://www.google.com/design/spec/components/dialogs.html#dialogs-specs
 */

.col-dialog-wrapper {
  animation: 0.4s colonel-fade;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.col-dialog-backdrop {
  background: rgba(0, 0, 0, 0.54);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}

.col-dialog {
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 3px rgba(#000, 0.24);
  margin: 0 auto;
  max-height: 100%;
  max-width: 768px;
  padding: 24px;
  position: relative;
  text-align: left;
  width: 100%;
  z-index: 1;
}

.col-dialog-title {
  font-size: 20px;
  font-weight: 500;
  margin: 0 0 20px;
  line-height: 20px;
}
