/**
 * Insertion Point
 * An Insertion Point is where a new block may be added, or an existing block moved
 */

.col-insertion-point {
  border: none;
  color: $col-text;
  font-size: unit(3);

  &.col-insertion-point-hover {
    border: 3px dotted $col-secondary;
    margin: unit(3);
    padding: unit(3);

    &.col-insertion-point-insert-allowed {
      border-color: $col-primary;
    }

    &.col-insertion-point-insert-disallowed {
      border-color: $col-warning;
    }
  }
}
