.col-block.col-block-section {
  background: #aaa;
  border-top: 1px solid rgba(#000, 0.15);
  box-shadow: 0 -1px 0 rgba(#fff, 0.2);
  border-radius: 0;
  max-width: 100%;
  padding: 24px 16px;
  text-align: center;

  > .col-toolbar .col-toolbar-handle {
    background: none;
    display: block;
    padding: 16px;

    svg {
      fill: #000;
    }
  }
}
