.col-toolbar {
  top: 0;
  position: absolute;
  right: 0;
  text-align: right;
}

.col-toolbar-handle {
  background: rgba(#000, 0.65);
  border-top-right-radius: 3px;
  display: block;
  padding: 8px 16px;

  svg {
    fill: #fff;
  }
}

.col-toolbar-menu {
  animation: 0.3s col-toolbar;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(#000, 0.25), 0 -1px 1px rgba(#000, 0.12);
  display: none;
  min-width: 140px;
  position: absolute;
  right: 8px;
  text-align: left;
  top: 8px;
  transform-origin: 100% 0;
  z-index: 2;
}

.col-toolbar:focus .col-toolbar-menu,
.col-toolbar:hover .col-toolbar-menu {
  display: block;
}
