/**
 * Toolbar
 * The toolbar presents itself for all blocks, allowing the user to
 * perform specific actions
 */

$col-toolbar-handle-background : rgba(#000, 0.65) !default;
$col-toolbar-handle-radius     : $col-radius-standard !default;
$col-toolbar-handle-padding    : unit(0.5) unit(1) !default;
$col-toolbar-handle-color      : rgba(#fff, 0.875) !default;

.col-toolbar {
  position: absolute;
  right: 0;
  text-align: right;
  top: 0;
}

.col-toolbar-handle {
  background: $col-toolbar-handle-background;
  border-top-right-radius: $col-toolbar-handle-radius;
  display: block;
  margin: 0;
  padding: $col-toolbar-handle-padding;

  svg {
    fill: $col-toolbar-handle-color;
  }
}
