/**
 * Reset
 * This should always be included under the .colonel namespace
 */

& {
  box-sizing: border-box;
}

*,
*:after,
*:before {
  box-sizing: inherit;
}

button {
  background: transparent;
  border: 0;
  border-radius: 4px;
  cursor: pointer;

  &::-moz-focus-inner {
    border: 0;
    padding: 0;
  }
}
