/**
 * Field
 * A common input field component
 */

@import "./field";

.col-graphic {
  background: #000;
  border: 0;
  height: 100%;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 100%;
}

.col-frame {
  display: block;
  margin: 0;
  opacity: 0;
  position: relative;
  text-align: center;
  transition: 0.5s all 0.2s cubic-bezier(.49,.04,.36,1.17);
}

.col-frame-open {
  opacity: 1;
  padding-bottom: percentage(9/16);
}
