/**
 * Colonel Kurtz Medium Editor
 */

$col-medium-focus-color  : rgba(#000, 0.875) !default;
$col-medium-background   : #fafafa !default;
$col-medium-border-color : #eaeaea !default;
$col-medium-btn-size     : 40px !default;
$col-medium-link-color   : rgba(#000, 0.875) !default;

@keyframes pop-upwards {
  0% {
    transform: matrix(0.97,0,0,1,0,12);
    opacity: 0;
  }

  20% {
    transform: matrix(0.99,0,0,1,0,2);
    opacity: 0.7;
  }

  40% {
    transform: matrix(1,0,0,1,0,-1);
    opacity: 1;
  }

  70% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
  }

  100% {
    transform: matrix(1,0,0,1,0,0);
    opacity: 1;
  }
}

.col-medium {
  font-size: 16px;
  line-height: 1.75;
  min-height: 48px;
  padding: 10px 48px 10px 16px;
  transition: 0.2s all;

  &:focus {
    color: $col-medium-focus-color;
    outline: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin-top: 0;
  }

  p {
    margin: 0;

    + p {
      margin-top: 16px;
    }
  }

  blockquote {
    border-left: 3px solid #777;
    padding: 8px 0 8px 24px;
    margin: 16px;
    font: italic 18px/1 Georgia, serif;
  }
}

.clearfix:after {
  clear: both;
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  visibility: hidden;
}

%medium-toolbar-arrow {
  border-style: solid;
  content: "";
  display: block;
  height: 0;
  left: 50%;
  margin-left: -8px;
  position: absolute;
  width: 0;
}

.medium-toolbar-arrow-under:after {
  @extend %medium-toolbar-arrow;
  border-width: 8px 8px 0 8px;
}

.medium-toolbar-arrow-over:before {
  @extend %medium-toolbar-arrow;
  border-width: 0 8px 8px 8px;
  top: -8px;
  z-index: 1;
}

.medium-editor-toolbar,
.medium-editor-anchor-preview {
  font-family: inherit;
  font-size: 16px;
  left: 0;
  position: absolute;
  top: 0;
  visibility: hidden;
  z-index: 2000;

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;

    button {
      box-sizing: border-box;
      cursor: pointer;
      display: block;
      font-size: 14px;
      line-height: 1.33;
      margin: 0;
      padding: 15px;
      text-decoration: none;
    }

    .medium-editor-action-underline {
      text-decoration: underline;
    }

    .medium-editor-action-pre {
      font-family: 'Menlo', monospace;
      font-size: 12px;
      font-weight: 100;
      padding: 15px 0;
    }
  }
}

.medium-editor-anchor-preview {
  margin-top: 12px;
}

.medium-editor-toolbar-anchor-preview-inner {
  cursor: pointer;
  display: block;
  font: italic 14px/1 Roboto, sans-serif;
  padding: 12px;
  text-decoration: underline;
}

.medium-editor-toolbar-active, .medium-editor-anchor-preview-active {
  animation: pop-upwards 160ms forwards linear;
  transition: top .075s ease-out, left .075s ease-out;
  visibility: visible;
}

.medium-editor-action-bold {
  font-weight: bolder;
}

.medium-editor-action-italic {
  font-style: italic;
}

.medium-editor-toolbar-form-anchor {
  display: none;

  input,
  a {
    font-family: Roboto, sans-serif;
  }

  .medium-editor-toolbar-anchor-input,
  label {
    margin: 0;
    padding: 6px;
    width: 316px;
    border: none;
    font-size: 14px;
    box-sizing: border-box;

    &:focus {
      outline: 0;
      border: none;
      box-shadow: none;
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  label {
    display: block;
  }

  a {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bolder;
    height: 36px;
    line-height: 1;
    margin: 0;
    padding: 12px;
    text-align: center;
    text-decoration: none;
    width: 36px;
  }
}

.medium-editor-placeholder {
  position: relative;

  &:after {
    color: #333;
    color: rgba(#000, 0.5);
    content: attr(data-placeholder) !important;
    font-style: italic;
    left: 16px;
    position: absolute;
    top: 10px;
  }
}


.medium-toolbar-arrow-under:after {
  border-color: $col-medium-background transparent transparent transparent;
  top: $col-medium-btn-size;
}

.medium-toolbar-arrow-over:before {
  border-color: transparent transparent $col-medium-background transparent;
  top: -8px;
}

.medium-editor-toolbar,
.medium-editor-toolbar-anchor-preview {
  background-color: $col-medium-background;
  border-radius: 2px;
  filter: drop-shadow(0 1px 1px rgba(0, 0, 0, 0.3)) drop-shadow(0 0 1px rgba(0, 0, 0, 0.15));

  li {
    padding: 0;

    button {
      background: transparent;
      border: none;
      border-radius: 0;
      border-right: 1px solid $col-medium-border-color;
      box-shadow: 0 1px 0 rgba(#fff, 0.875) inset;
      color: $col-medium-link-color;
      font-size: 13px;
      height: $col-medium-btn-size;
      line-height: 16px;
      min-width: $col-medium-btn-size;
      padding: 8px 0;
      text-shadow: none;
      transition: background-color .2s ease-in, color .2s ease-in;

      &:hover {
        background: #f2f2f2;
      }

      &.medium-editor-button-active {
        background: #009688;
        box-shadow: inset 0 0 1px rgba(#000, 0.15);
        color: #FFF;
      }
    }

    .medium-editor-button-last {
      border-right: none;
    }
  }
}

.medium-editor-toolbar-form-anchor {
  .medium-editor-toolbar-anchor-input {
    height: $col-medium-btn-size;
    background: $col-medium-background;
    color: $col-medium-link-color;

    &::-webkit-input-placeholder {
      color: #fff;
      color: rgba(#fff, 0.8);
    }

    &:-moz-placeholder { /* Firefox 18- */
      color: #fff;
      color: rgba(#fff, 0.8);
    }

    &::-moz-placeholder {  /* Firefox 19+ */
      color: #fff;
      color: rgba(#fff, 0.8);
    }

    &:-ms-input-placeholder {
      color: #fff;
      color: rgba(#fff, 0.8);
    }
  }

  a {
    color: $col-medium-link-color;
  }
}
