/**
 * Section
 * A special type of block that can contain children.
 */

$col-section-background : #bbb !default;
$col-section-border     : 1px solid rgba(#000, 0.12) !default;
$col-section-padding    : 24px 16px !default;

.col-block.col-block-section {
  background: $col-section-background;
  border-bottom: $col-section-border;
  border-radius: 0;
  border-top: $col-section-border;
  box-shadow: none;
  max-width: 100%;
  padding: $col-section-padding;
  text-align: center;
}
