/**
 * Field
 * A common input field component
 */

$col-field-padding     : 8px 8px 4px !default;
$col-field-focus-color : #009688 !default;

.col-field {
  padding: $col-field-padding
}

.col-field-label {
  color: #777;
  display: block;
  float: none;
  font-size: 13px;
  margin-bottom: 8px;
  width: 100%;
}

.col-field-input {
  border: 0;
  box-shadow: 0 1px 0 0 #d9d9d9;
  color: #222;
  display: block;
  font-size: 14px;
  padding-bottom: 4px;
  width: 100%;
  transition: 0.2s all;

  &:focus {
    box-shadow: 0 1px 0 $col-field-focus-color;
    outline: none;
  }
}
