/**
 * YouTube Block Type
 */

.col-youtube-player {
  display: block;
  position: relative;
  text-align: center;
  transition: 0.5s padding 0.2s cubic-bezier(.49,.04,.36,1.17);
}

.col-youtube-player-open {
  padding-bottom: percentage(9/16);
}

.col-youtube-frame {
  background: #000;
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.col-youtube-fieldset {
  border: 0;
  margin: 0;
  padding: 4px 4px 8px;
}
