/**
 * YouTube Block Type
 */

.col-youtube-player {
  display: block;
  padding-bottom: percentage(9/16);
  position: relative;
  text-align: center;
}

.col-youtube-frame {
  border: 0;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.col-youtube-fieldset {
  border: 0;
  margin: 0;
  padding: 4px 4px 8px;
}

.col-youtube-label {
  color: #777;
  display: block;
  float: none;
  font-size: 13px;
  margin-bottom: 8px;
  width: 100%;
}
