$colonel-accent      : #cddc39 !default;
$colonel-primary     : #009688 !default;
$colonel-danger      : #f44336 !default;
$colonel-font-family : Roboto, sans-serif;
$colonel-muted-dark  : rgba(#000, 0.5) !default;
$colonel-muted-light : rgba(#fff, 0.4) !default;
$colonel-text-dark   : rgba(#000, 0.875) !default;
$colonel-text-light  : rgba(#fff, 0.875) !default;
